{% extends base %}

{% block postamble %}
  <style>
    h1 {
      margin: 2em 0 0 0;
      color: #2e484c;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1.4em;
      text-transform: uppercase;
    }
    p {
      font: "Libre Baskerville", sans-serif;
      text-align: justify;
      text-justify: inter-word;
    }
  </style>
{% endblock %}

{% block contents %}
  <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="http://178.128.207.173:5001/">Home</a>
                  <a class="nav-item nav-link" href="http://178.128.207.173:5001/bokeh_bar">Bokeh Bar Plots</a>
                  <a class="nav-item nav-link" href="http://178.128.207.173:5001/pygal_bar">Pygal Bar Plots</a>
                        <a class="nav-item nav-link" href="http://178.128.207.173:5000/main_csv">Data Set</a>
                </div>
            </nav>
  </div>
  {{ super() }}
{% endblock %}